html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header1 {
  margin: 20px;
  padding: 1px;
  border: 2px double #F34949;
  background-image: url("https://media.giphy.com/media/7T200DTPdx31e/giphy.gif");
  text-align: center;
  font-family: "Special Elite", serif;
  color: red;
  text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -2px black;
}

h3 {
  margin: 0;
  padding: 2px;
  text-align: center;
  background-color: rgb(243, 73, 73, 0.7);
}

p {
  margin: 1;
  padding: 10px;
  text-align: center;
  background-color: rgb(243, 73, 73, 0.7);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("Images/pokegrass.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  display: block;
  border-style: inset;
}

.colors {
  margin: 0;
  padding: 0px 20px 20px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.red {
  background-color: #ff4d4d;
  color: white;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.green {
  background-color: #00ff00;
  color: white;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.blue {
  background-color: #4d88ff;
  color: white;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.yellow {
  background-color: #ffff66;
  color: white;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.orange {
  background-color: #ff944d;
  color: white;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.black {
  background-color: black;
  color: white;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
